.activeLayersPanel .layer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.activeLayersPanel .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 104px;
}

.activeLayersPanel .name.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.activeLayersPanel .icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.activeLayersPanel .icon {
  width: 17px;
  height: 17px;
  margin-left: 8px;
  cursor: pointer;
}

.activeLayersPanel .icon.disabled {
  opacity: 0;
  pointer-events: none;
}