{
    "parserOptions": { "project": ["./tsconfig.json"] },
    "extends": ["react-app"],
    "ignorePatterns": ["vite.config.*", "commitlint.config.js"],
    "plugins": ["react"],
    "rules": {
        "import/exports-last": 0,
        "no-lonely-if": 0
    }
}
