.debugPanel {
  transform: translateZ(0);
  height: calc(100vh - 220px);
  max-height: 460px;
  width: 280px;
  position: absolute;
  top: 40px;
  right: 80px;
  /* TO BE REMOVED - start */
  color: #AFBFDA;
  background: #2D3748;
  padding: 20px 24px;
  /* TO BE REMOVED - end */
}

.debugPanel .mdc-dialog__container {
  align-items: unset;
}

.debugPanel .mdc-dialog .mdc-dialog__surface {
  max-height: unset;
}

body[dir='rtl'] .debugPanel {
  left: 80px;
  right: unset;
}

.debugPanel .title {
  text-align: center;
  font-weight: bold;
}

.debugPanel .featureType {
  margin-bottom: 12px;
  direction: ltr;
}

body[dir='rtl'] .debugPanel .featureType {
  direction: rtl;
}

.debugPanel .name {
  color: #AEF;
  font-weight: bold;
}

.debugPanel .info {
  display: flex;
}

.debugPanel .spacer {
  margin: 0 20px;
}

.debugPanel .warning {
  color: #FFA032;
  animation: blink 1s infinite;
}

.debugPanel .error {
  color: #B00020;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}