.cesium-viewer .wfsContainer .title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 12px;
  width: 260px;
}

.cesium-viewer .wfsContainer .featureType {
  font-size: 12px;
  margin-bottom: 12px;
  direction: ltr;
}

body[dir='rtl'] .cesium-viewer .wfsContainer .featureType {
  direction: rtl;
}

.cesium-viewer .wfsContainer .name {
  color: #AEF;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 260px;
}

.cesium-viewer .wfsContainer .info {
  display: flex;
}

.cesium-viewer .wfsContainer .spacer {
  margin: 0 20px;
}

.cesium-viewer .wfsContainer .blinking {
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
