.react-datepicker__day[aria-disabled='true'] {
  user-select: none;
  opacity: 0.5;
  pointer-events: none;
}

.wrapper input {
  width: 20rem;
  text-align: center;
}

.react-datepicker__children-container {
  margin: 0;
  padding: 0;
}

.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

}

.react-datepicker {
  user-select: none;
}

.react-datepicker__year-select {
  position: absolute;
  top: 9px;
  z-index: 99;
}

.react-datepicker__year-select,
.react-datepicker__month-select {
  margin: 0;
  padding: 0;
}

.react-datepicker__year-dropdown--scrollable, .react-datepicker__month-year-dropdown--scrollable {
  height: 150px;
}
.react-datepicker__current-month.react-datepicker__current-month--hasYearDropdown.react-datepicker__current-month--hasMonthDropdown + 
.react-datepicker__header__dropdown.react-datepicker__header__dropdown {
  height: 18px;
}

.react-datepicker__year-dropdown-container--select, .react-datepicker__month-dropdown-container--select,
.react-datepicker__month-dropdown-container--select, .react-datepicker__month-year-dropdown-container--select {
  display: block;
}

.react-datepicker__month-select, .react-datepicker__year-select {
  position: absolute;
  width: 100px;
  height: 1.5rem;
  z-index: 1;
  text-align: center;
  border-radius: 0.3rem;
}

.react-datepicker__year-read-view, .react-datepicker__month-year-read-view {
  visibility: visible !important; 
}

/* Padding input when close icon is rendered to prevent date hiding under the button */
.dateRangeCustomInput:has(~ .react-datepicker__close-icon) .mdc-text-field__input{
  padding-inline: 12px;
} 