.cesium-viewer .cesium-widget-credits {
  display: none !important;
}

.cesium-viewer .cesium-viewer-toolbar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 116px;
  right: 27px;
}

body[dir='rtl'] .cesium-viewer .cesium-viewer-toolbar {
  left: 27px;
  right: unset;
}

.cesium-viewer .widgetsContainer {
  top: 24px;
  left: 10px;
}

body[dir='rtl'] .cesium-viewer .widgetsContainer {
  left: unset;
  right: 10px;
}

.cesium-viewer .cesium-mc-tool {
  display: block;
  position: absolute;
  box-sizing: content-box;
  top: auto;
  right: 0;
  width: 320px;
  max-height: 500px;
  margin-top: 5px;
  background-color: rgba(38, 38, 38, 0.75);
  border: 1px solid #444;
  padding: 6px;
  overflow: auto;
  border-radius: 10px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transform: translate(0, -20%);
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0s 0.2s,
    opacity 0.2s ease-in,
    transform 0.2s ease-in;
}

.cesium-viewer .cesium-mc-tool-visible {
  transform: translate(0, 0);
  visibility: visible;
  opacity: 1;
  transition:
    opacity 0.2s ease-out,
    transform 0.2s ease-out;
}

.cesium-viewer .cesium-mc-title {
  display: block;
  font-family: sans-serif;
  font-size: 16pt;
  text-align: left;
  margin-bottom: 4px;
}

body[dir='rtl'] .cesium-viewer .cesium-mc-title {
  text-align: right;
}

.cesium-viewer .cesium-mc-tool {
  color: var(--mdc-theme-cesium-color);
  right: 40px;
  margin-top: 0;
}

body[dir='rtl'] .cesium-viewer .cesium-mc-tool {
  right: unset;
  left: 40px;
}

.cesium-viewer .cesium-mc-choices {
  display: block;
  border: 1px solid #888;
  border-radius: 5px;
  padding: 5px 0;
  margin-bottom: 5px;
}

.cesium-viewer .cesium-baseLayerPicker-dropDown {
  right: 40px;
  margin-top: 0;
}

body[dir='rtl'] .cesium-viewer .cesium-baseLayerPicker-dropDown {
  right: unset;
  left: 40px;
}

body[dir='rtl'] .cesium-viewer .cesium-baseLayerPicker-sectionTitle {
  text-align: right;
}

.cesium-viewer span.cesium-sceneModePicker-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  column-gap: 4px;
}

.cesium-viewer .cesium-viewer-fullscreenContainer {
  width: 32px;
  height: 32px;
  bottom: 9px;
  right: 30px;
}

body[dir='rtl'] .cesium-viewer .cesium-viewer-fullscreenContainer {
  right: unset;
  left: 30px;
}

.cesium-viewer .cesium-button.cesium-fullscreenButton {
  border-radius: 14%;
  box-sizing: border-box;
}

.cesium-viewer .bottomToolsContainer {
  color: var(--mdc-theme-on-surface);
  opacity: 0.7;
  display: flex;
  gap: 8px;
  position: absolute;
  bottom: 10px;
  right: 70px;
}

body[dir='rtl'] .cesium-viewer .bottomToolsContainer {
  left: 70px;
  right: unset;
}

.viewer {
  display: flex;
  flex-direction: row;
}

.viewer .mdc-linear-progress__bar-inner {
  border-top-width: 10px;
}
