.cesium-widget-credits {
  display: none !important;
}

.cesium-viewer-fullscreenContainer {
  bottom: 8px;
  right: 8px;
  left: unset;
}

body[dir='rtl'] .cesium-viewer-fullscreenContainer {
  left: 8px;
  right: unset;
}

body[dir='rtl'] .cesium-viewer-toolbar {
  left: 4px;
  right: unset;
}

.cesium-button.cesium-fullscreenButton {
  border-radius: 14%;
}

.toolsContainer {
  color: var(--mdc-theme-on-surface);
  display: flex;
  gap: 8px;
  z-index: 2000;
  position: absolute;
  bottom: 12px;
  right: 40px;
  opacity: 0.7;
}

body[dir='rtl'] .toolsContainer {
  left: 40px;
  right: unset;
}

.sideToolsContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
  z-index: 2000;
  position: absolute;
  top: 12px;
  right: 40px;
}

body[dir='rtl'] .sideToolsContainer {
  left: 40px;
  right: unset;
}

.viewer {
  display: flex;
  flex-direction: row;
}

.viewer .mdc-linear-progress__bar-inner {
  border-top-width: 10px;
}

/* #region for NATIVE CONTROLS */
#cesiumTheme input[type='checkbox'] {
  accent-color: var(--mdc-theme-cesium-checkbox-color);
}

/* #endregion for NATIVE CONTROLS */

/* #region for mdc-checkbox */
#cesiumTheme .mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background,
.mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background,
.mdc-checkbox .mdc-checkbox__native-control[data-indeterminate='true']:enabled ~ .mdc-checkbox__background {
  border-color: var(--mdc-theme-cesium-checkbox-color);
  background-color: var(--mdc-theme-cesium-checkbox-color);
}

#cesiumTheme .mdc-checkbox--upgraded {
  --mdc-checkbox-checked-color: var(--mdc-theme-cesium-checkbox-color);
}

#cesiumTheme .mdc-checkbox {
  width: var(--mdc-theme-cesium-checkbox-width);
  height: var(--mdc-theme-cesium-checkbox-width);
}

#cesiumTheme .mdc-checkbox__background {
  width: 12px;
  height: 12px;
}

#cesiumTheme .mdc-form-field {
  color: unset;
  margin: -2%;
  margin-bottom: -4%;
}

#cesiumTheme .mdc-ripple-upgraded--unbounded {
  --mdc-ripple-fg-size: 0px !important;
}

/* #endregion mdc-checkbox */

/* #region mdc-list */
#cesiumTheme .mdc-list {
  font-size: 11pt;
  padding: 1px;
  color: unset;
}

#cesiumTheme .mdc-list-item {
  padding: unset;
  padding-right: 4px;
  padding-left: 4px;
  height: 24px;
}

/* #endregion mdc-list */

/* #region mdc-TextField */
#cesiumTheme .mdc-text-field__input {
  box-sizing: border-box;
  height: 32px;
  border: unset;
}

#cesiumTheme .mdc-text-field--outlined {
  height: 8%;
}

/* #endregion mdc-TextField */

#cesiumTheme .disabled {
  opacity: 0.6;
  cursor: initial;
}

/* cesium class */
#cesiumTheme .search-results {
  padding: 4px;
}
