.viewer .mapLegendSidebarContainer {
  width: 340px;
  height: 100%;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 16px;
}

/* Disable drawer animation */

.viewer .mapLegendSidebarContainer.mdc-drawer--animate {
  transform: translateX(0) !important;
  transition: none !important;
}

.viewer .mapLegendSidebarContainer.mdc-drawer--dismissible {
  position: relative;
}

.viewer div.MuiPaper-root {
  transition: none !important;
}

.viewer .mapLegendCloseBtn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 20px;
  font-size: 24px;
}

body[dir='rtl'] .viewer .mapLegendCloseBtn {
  right: unset;
  left: 0;
}

.viewer .mapLegendIcon {
  width: 2rem;
  height: 2rem;
  transform: translate(8%, 8%);
}

.viewer .sidebarHeaderContainer {
  text-align: center;
  margin-top: 40px;
}

.viewer .sidebarTitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.viewer .mapLegend {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 10px 14px;
}

.viewer .layerNameContainer {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewer .layerName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.viewer .legendImg {
  width: 90%;
  height: 150px;
  border: 1px solid black;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}

.viewer .legendActionsContainer {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.viewer .legendAction:not(:last-child)::after {
  content: '|';
  margin: 0px 4px;
}

.viewer .mapLegendsList {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  width: 100%;
  height: 90%;
}

.viewer .legendAction {
  text-decoration: underline;
  cursor: pointer;
  font-size: 1.1rem;
  transition: all 0.1s ease-in-out;
  width: max-content;
}

.viewer .legendAction:hover {
  filter: brightness(1.2);
}

.viewer .noLegendsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.viewer .noLegendsMsg {
  text-align: center;
}
