.pickerCalendar {
  /* --date-picker-calendar-background: var(--mdc-theme-background);
  --date-picker-day-background: var(--mdc-theme-gc-alternative-surface);
  --date-picker-day-font-color: var(--mdc-theme-text-primary-on-background);
  --date-picker-day-selecting-range-background: var(--mdc-theme-gc-selection-background);
  --date-picker-day-selecting-range-font-color: var(--mdc-theme-on-surface);
  --date-picker-day-hover-background: var(--mdc-theme-text-hint-on-dark);
  --date-picker-day-hover-font-color: var(--mdc-theme-alternative-surface);
  --date-picker-selected-day-background: var(--mdc-theme-gc-selection-background);
  --date-picker-selected-day-font-color: var(--mdc-theme-on-surface);
  --date-picker-nav-icons-color: var(--mdc-theme-text-primary-on-background);
  --date-picker-header-background: var(--mdc-theme-gc-selection-background);
  --date-picker-header-color: var(--mdc-theme-text-primary-on-background);
  background-color: var(--date-picker-calendar-background); */

  /* Theme Variables `date-picker` prefixed */
  --date-picker-calendar-background: var(--mdc-theme-background);

  --date-picker-day-background: var(--mdc-theme-gc-selection-background);
  --date-picker-day-font-color: var(--mdc-theme-text-primary-on-background);
  --date-picker-day-selecting-range-background: var(--mdc-theme-gc-selection-background);
  --date-picker-day-selecting-range-font-color: var(--mdc-theme-on-surface);
  --date-picker-day-hover-background: var(--mdc-theme-gc-hover-background);
  --date-picker-day-hover-font-color: var(--mdc-theme-on-surface);
  --date-picker-selected-day-background: var(--mdc-theme-gc-alternative-surface);
  --date-picker-selected-day-font-color: var(--mdc-theme-on-surface);

  --date-picker-nav-icons-color: var(--mdc-theme-primary);
  --date-picker-header-background: var(--mdc-theme-on-surface);
  --date-picker-header-color: var(--mdc-theme-primary);
  /* -------------------------------------- */
  background-color: var(--date-picker-calendar-background);
}

.pickerDay {
  background-color: var(--date-picker-day-background);
  color: var(--date-picker-day-font-color);
}

.react-datepicker__header {
  background-color: var(--date-picker-header-background);
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header,
.pickerWeek {
  color: var(--date-picker-header-color);
}
.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon::before {
  border-color: var(--date-picker-nav-icons-color);
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  background-color: var(--date-picker-day-hover-background);
  color: var(--date-picker-day-hover-font-color);
}

/* Selected Dates */
.pickerDay.react-datepicker__day--in-range {
  background-color: var(--date-picker-selected-day-background);
  color: var(--date-picker-selected-day-font-color);
}

/* Selecting Dates */
.pickerDay.react-datepicker__day--in-selecting-range:not(
    .react-datepicker__day--in-range,
    .pickerDay.react-datepicker__month-text--in-range,
    .pickerDay.react-datepicker__quarter-text--in-range,
    .pickerDay.react-datepicker__year-text--in-range
  ) {
  background-color: var(--date-picker-day-selecting-range-background);
  color: var(--date-picker-day-selecting-range-font-color);
}
